<section
  class="mt-[120px] grid grid-cols-1 md:grid-cols-2 gap-x-20 items-center px-6 max-w-screen-xl mx-auto"
>
  <div
    class="relative min-h-[540px] sm:min-h-fit max-w-[510px] mx-auto md:mx-0"
    data-aos="fade-up"
  >
    <img
      src="https://static01.nyt.com/newsgraphics/2019/08/01/candidate-pages/7d63f01f112e79da7ac60c0448a4047a155ff410/trump.jpg"
      alt="kevin-ortega"
      class="rounded-xl"
    />

    <div
      class="absolute inset-x-0 bg-white max-w-[390px] md:max-w-[320px] lg:max-w-[440px]
      mx-auto -mt-44 rounded-lg px-4 md:px-8 py-5"
      style="box-shadow: 0px 0px 80px #0808081f;"
    >
      <p class="font-semibold text-center">
        "We took our new Mobilo Wood cards to an industry trade show and
        everyone that asked for a business card was surprised, intrigued and
        loved the way my company is now managing our contact information. Great
        success!!"
      </p>

      <hr class="h-px my-8 bg-gray-200 border-0" />

      <p class="text-yellow font-semibold text-center mb-1 text-base">Cargo</p>
      <p class="font-semibold text-center text-lg">Kevin Ortega</p>
    </div>
  </div>

  <div class="mt-48 md:mt-0" data-aos="fade-up">
    <div class="flex gap-3 justify-center md:justify-start items-center mb-8">
      <div class="size-3 bg-yellow rounded-full"></div>
      <p class="uppercase font-semibold">About Gernast</p>
    </div>

    <div class="flex flex-col gap-8 items-center md:items-start">
      <h2
        class="text-3xl md:text-5xl font-semibold text-center md:text-start text-balance"
      >
        Get to Know Closer With GerNast
      </h2>

      <p class="text-plomo text-center md:text-start">
        Included with all cards. Switch between modes, depending on the
        situation. Meet up and share your contact details or switch to Lead
        Generation mode to receive contact details and send them straight to
        your CRM.
      </p>

      <a
        href=""
        class="text-[14px] max-w-[200px] flex justify-center items-center transition-all
       font-medium h-10 px-8 py-7 rounded-md bg-yellow text-white"
        >Llamado Acción</a
      >
    </div>
  </div>
</section>
