<section
  class="mt-[120px] grid grid-cols-1 md:grid-cols-2 gap-x-20 items-center px-6 max-w-screen-xl mx-auto"
>
  <div
    class="relative min-h-[540px] sm:min-h-fit max-w-[510px] mx-auto md:mx-0"
    data-aos="fade-up"
  >
    <img
      src="/kevin-ortega.jpeg"
      alt="kevin-ortega"
      class="rounded-xl object-cover h-full min-h-[480px]"
    />

    <div
      class="absolute inset-x-0 bg-white max-w-[360px] md:max-w-[320px] lg:max-w-[440px]
      mx-auto -mt-44 rounded-lg px-4 md:px-8 py-5"
      style="box-shadow: 0px 0px 80px #0808081f;"
    >
      <p class="font-semibold text-center">
        “Nuestra ciudad ha demostrado que puede ser más segura, limpia,
        inclusiva y propicia para los emprendedores. Estoy convencido de que
        podemos mejorar Rancagua y elevar la calidad de vida de nuestros
        vecinos. ¡Piensa en Rancagua!”
      </p>

      <hr class="h-px my-8 bg-gray-200 border-0" />

      <p class="font-semibold text-center text-lg">Kevin Ortega</p>
      <p class="text-yellow font-semibold text-center mb-1 text-base">Core por Rancagua</p>
    </div>
  </div>

  <div class="mt-48 md:mt-0" data-aos="fade-up">
    <div class="flex gap-3 justify-center md:justify-start 
    items-center mb-8">
      <div class="size-3 bg-yellow rounded-full"></div>
      <p class="uppercase font-semibold">Conoce a</p>
    </div>

    <div class="flex flex-col gap-8 items-center md:items-start">
      <h2
        class="text-3xl md:text-5xl font-semibold text-center md:text-start text-balance"
      >
        Kevin Ortega Core <br />
        <span class="text-yellow">por Rancagua</span>
      </h2>

      <p class="text-plomo text-center md:text-start">
        Te invito a conocer mi forma de trabajar, mis valores y mi visión de la
        vida. Quiero compartir contigo mi enfoque y compromiso para marcar la
        diferencia.
      </p>

      <a
        href=""
        class="text-[14px] max-w-[200px] flex justify-center items-center transition-all
       font-medium h-10 px-8 py-7 rounded-md bg-yellow text-white"
        >Conóceme</a
      >
    </div>
  </div>
</section>
