---
import { FrequentlyAskedQuestionsC } from "./ui/MyUI/FrequentlyAskedQuestionsC";
---

<section class="py-[90px] max-w-screen-xl mx-auto px-6">
  <div class="flex justify-center gap-3 items-center mb-8" data-aos="fade-up">
    <div class="size-3 bg-yellow rounded-full"></div>
    <p class="uppercase font-semibold">Aclara tus dudas</p>
  </div>

  <div class="flex flex-col gap-8 text-center" data-aos="fade-up">
    <h2 class="text-3xl md:text-5xl font-semibold text-balance">Preguntas Frecuentes</h2>

    <p class="text-plomo text-balance">
      Aquí te dejo algunas preguntas frecuentes que pueden interesarte y que responden dudas comunes sobre un Core o Consejero Regional. Espero que encuentres la información que necesitas. ¡No dudes en contactarme!
    </p>
  </div>

  <div class="mt-14 max-w-screen-md mx-auto">
    <FrequentlyAskedQuestionsC client:load />
  </div>
</section>
