<section class="py-[90px] mt-28 bg-[#ECEEF3]">
  <div class="max-w-screen-xl mx-auto px-6">
    <div class="flex justify-center gap-3 items-center mb-8" data-aos="fade-up">
      <div class="size-3 bg-yellow rounded-full"></div>
      <p class="uppercase font-semibold">Galeria</p>
    </div>

    <div class="flex flex-col gap-8 text-center" data-aos="fade-up">
      <h2 class="text-3xl md:text-5xl font-semibold text-balance">
        Pies en la calle
      </h2>

      <p class="text-plomo text-balance">
        En esta galería, comparto momentos de mi trabajo en terreno, donde
        escucho a la comunidad y me esfuerzo por generar cambios reales.
        ¡Descubre cómo estamos avanzando juntos!
      </p>
    </div>

    <!-- Galery -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-14">
      <div class="grid gap-4">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="/galeria/1.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full object-cover rounded-lg"
            src="/galeria/8.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full object-cover rounded-lg"
            src="/galeria/3.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <img
            class="h-auto max-w-full object-cover rounded-lg"
            src="/galeria/4.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full object-cover rounded-lg"
            src="/galeria/5.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full object-cover rounded-lg"
            src="/galeria/6.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="/galeria/7.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="/galeria/2.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
