---
import SaveMoneyIcon from "./Icons/SaveMoneyIcon.astro";
import SecurityIcon from "./Icons/SecurityIcon.astro";
import UserGroupIcon from "./Icons/UserGroupIcon.astro";
---

<section
  class="mt-[120px] md:mt-[230px]
  grid grid-cols-1 md:grid-cols-2 items-center mx-auto"
>
  <div class="relative">
    <img
      class="object-cover w-full min-h-[400px] md:min-h-[640px] max-h-[640px]"
      src="/rancagua.png"
      alt="foto-rancagua-kevin-ortega"
      loading="lazy"
    />
    <div class="absolute inset-0 bg-yellow opacity-[0.85]"></div>
    <div
      class="absolute inset-0 flex flex-col justify-center
    max-w-[500px] mx-auto w-full px-6"
    >
      <div
        data-aos="fade-right"
        class="flex justify-center md:justify-start gap-3 items-start mb-8"
      >
        <div class="size-3 bg-white rounded-full"></div>
        <p class="uppercase font-semibold text-white">Únete</p>
      </div>

      <div
        data-aos="fade-right"
        class="flex flex-col items-center md:items-start gap-8"
      >
        <h2
          class="text-3xl md:text-5xl font-semibold text-center md:text-start text-balance text-white"
        >
          Si piensas en Rancagua
        </h2>

        <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScWTR3ANy48aGewQrE_dWof589wvQHM5rsH5-UGE0HjASleeg/viewform?usp=sf_link"
        target="_blank"
          class="text-[14px] max-w-[200px] flex justify-center items-center transition-all
         font-medium h-10 px-8 py-7 rounded-md bg-white text-yellow"
          >Únete aquí</a
        >
      </div>
    </div>
  </div>

  <div
    class="bg-negro w-full h-full flex flex-col gap-y-7 py-14 justify-center items-center"
  >
    <div data-aos="fade-up" class="gap-6 flex flex-col">
      <div class="flex gap-6 items-center">
        <SaveMoneyIcon className="size-16 text-white" />
        <p class="text-base md:text-xl font-semibold text-white">
          #PiensaEnEmprendimiento
        </p>
      </div>
      <div class="flex gap-6 items-center">
        <SecurityIcon className="size-16 text-white" />
        <p class="text-base md:text-xl font-semibold text-white">
          #PiensaEnSeguridad
        </p>
      </div>
      <div class="flex gap-6 items-center">
        <UserGroupIcon className="size-16 text-white" />
        <p class="text-base md:text-xl font-semibold text-white">
          #PiensaEnInclusion
        </p>
      </div>
    </div>
  </div>
</section>
