---
import SaveMoneyIcon from "./Icons/SaveMoneyIcon.astro";
import SecurityIcon from "./Icons/SecurityIcon.astro";
import UserGroupIcon from "./Icons/UserGroupIcon.astro";
---

<section
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3
   mt-[89px] gap-8 z-50 max-w-screen-xl mx-auto px-6"
>
  <!--1 -->
  <div
    class="bg-yellow py-6
    sm:py-10 flex flex-col items-center justify-center rounded-xl px-6"
    data-aos="fade-up"
    data-aos-delay="50"
  >
    <div class="flex mb-4 justify-center">
      <SaveMoneyIcon className="size-12 text-white" />
    </div>
    <h3 class="text-xl font-semibold mb-3 text-center text-white">
      #PiensaEnEmprendimiento
    </h3>
  </div>

  <!--2 -->
  <div
    class="bg-negro py-6
    sm:py-10 flex flex-col items-center justify-center rounded-xl px-6"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <div class="flex mb-4 justify-center">
      <SecurityIcon className="size-12 text-white" />
    </div>
    <h3 class="text-xl font-semibold mb-3 text-center text-white">
      2+ Million People
    </h3>
  </div>

  <!--3 -->
  <div
    class="bg-yellow py-6 sm:col-span-2 lg:col-span-1
    sm:py-10 flex flex-col items-center justify-center rounded-xl px-6"
    data-aos="fade-up"
    data-aos-delay="150"
  >
    <div class="flex mb-4 justify-center">
      <UserGroupIcon className="size-12 text-white" />
    </div>
    <h3 class="text-xl font-semibold mb-3 text-center text-white">
      2+ Million People
    </h3>
  </div>
</section>
