---
import AgreementIcon from "./Icons/AgreementIcon.astro";
---

<section
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 mt-[89px] gap-8 z-50 max-w-screen-xl mx-auto px-6"
>
  <!--1 -->
  <div
    class="bg-yellow py-6 sm:py-24 rounded-xl px-6"
    data-aos="fade-up"
    data-aos-delay="50"
  >
    <div class="mt-5 flex justify-center">
      <AgreementIcon className="size-12 text-white" />
    </div>
    <h3 class="text-xl font-semibold mb-3 text-center text-white">
      2+ Million People
    </h3>
    <p class="text-white text-center">
      Have experienced networking with Mobilo
    </p>
  </div>

  <!--2 -->
  <div
    class="bg-negro py-6 sm:py-24 rounded-xl px-6"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <div class="mt-5 flex justify-center">
      <AgreementIcon className="size-12 text-white" />
    </div>
    <h3 class="text-xl font-semibold mb-3 text-center text-white">
      2+ Million People
    </h3>
    <p class="text-center text-white">
      Have experienced networking with Mobilo
    </p>
  </div>

  <!--3 -->
  <div
    class="bg-yellow py-6 sm:py-24 rounded-xl px-6"
    data-aos="fade-up"
    data-aos-delay="150"
  >
    <div class="mt-5 flex justify-center">
      <AgreementIcon className="size-12 text-white" />
    </div>
    <h3 class="text-xl font-semibold mb-3 text-center text-white">
      2+ Million People
    </h3>
    <p class="text-white text-center">
      Have experienced networking with Mobilo
    </p>
  </div>

  <!--2 -->
  <div
    class="bg-negro py-6 sm:py-24 rounded-xl px-6"
    data-aos="fade-up"
    data-aos-delay="200"
  >
    <div class="mt-5 flex justify-center">
      <AgreementIcon className="size-12 text-white" />
    </div>
    <h3 class="text-xl font-semibold mb-3 text-center text-white">
      2+ Million People
    </h3>
    <p class="text-center text-white">
      Have experienced networking with Mobilo
    </p>
  </div>
</section>
