---
import LiteYouTube from "./yt/LiteYouTube.astro";
---

<section
  class="mt-[140px] grid
grid-cols-1 lg:grid-cols-2 px-6 gap-20
 max-w-[800px] mx-auto lg:max-w-screen-xl"
>
  <div
    class="order-last lg:order-first flex flex-col justify-center"
    data-aos="fade-right"
  >
    <div class="flex gap-3 mb-8 lg:items-start lg:justify-start 
    lg:w-full justify-center">
      <div class="size-3 bg-yellow rounded-full"></div>
      <p class="uppercase font-semibold">Testimoneos</p>
    </div>

    <div class="flex flex-col gap-8 items-center
     lg:items-start">
      <h2
                class="text-3xl md:text-5xl font-semibold 
        text-center lg:text-start text-balance"
      >
        Elizabeth Escobedo apoya a Kevin Ortega Core por Rancagua
      </h2>

      <p class="text-plomo text-center lg:text-start text-balance">
        Gracias Eli por estar conmigo en este desafío de ser Core por #Rancagua
        🙌. Tu apoyo es clave para que sigamos luchando por una ciudad más
        inclusiva y mejor para todos 🌈. Estoy comprometido al 100% con hacer de
        Rancagua un lugar donde todos tengamos un espacio para crecer y avanzar
        juntos 💪. ¡Vamos con todo! #PiensaEnInclusion #PiensaEnRancagua
      </p>

      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScWTR3ANy48aGewQrE_dWof589wvQHM5rsH5-UGE0HjASleeg/viewform?usp=sf_link"
        target="_blank"
        class="text-[14px] max-w-[200px] flex justify-center items-center transition-all
       font-medium h-10 px-8 py-7 rounded-md bg-yellow text-white"
        >Únete</a
      >
    </div>
  </div>

  <div
    class="max-w-[510px] mx-auto lg:mx-0 w-full
    h-full"
    data-aos="fade-up"
  >
    <LiteYouTube
      videoId="JCJ-dGroRK8"
      backgroundImage="/youtube-2.png"
      title="Reproducir"
    />
  </div>
</section>
