---
import LiteYouTube from "./yt/LiteYouTube.astro";
---

<section
  class="mt-[140px] min-h-[600px] grid grid-cols-1 md:grid-cols-2 px-6 gap-x-20 items-center max-w-screen-xl mx-auto"
>
  <div class="relative md:max-w-[510px]
    h-full" data-aos="fade-up">
    <LiteYouTube
      videoId="H4lv6U9Pk5U"
      backgroundImage="/youtube-1.png"
      title="Reproducir presentación de La Velada del Año"
    />
  </div>

  <div data-aos="fade-up">
    <div class="flex gap-3 justify-center md:justify-start items-center mb-8">
      <div class="size-3 bg-yellow rounded-full"></div>
      <p class="uppercase font-semibold">Testimoneos</p>
    </div>

    <div class="flex flex-col gap-8 items-center md:items-start">
      <h2
        class="text-3xl md:text-5xl font-semibold text-center md:text-start text-balance"
      >
        Algo video testimoneo
      </h2>

      <p class="text-plomo text-center md:text-start">
        Included with all cards. Switch between modes, depending on the
        situation. Meet up and share your contact details or switch to Lead
        Generation mode to receive contact details and send them straight to
        your CRM.
      </p>



      <a
        href=""
        class="text-[14px] max-w-[200px] flex justify-center items-center transition-all
       font-medium h-10 px-8 py-7 rounded-md bg-yellow text-white"
        >Llamado Acción</a
      >
    </div>
  </div>
</section>
