<div class="aspect-video max-w-screen-xl mx-auto mt-[96px] px-6">
    <iframe
      class="h-full w-full rounded-lg"
      src="https://www.youtube.com/embed/NPwShLUcjqM"
      width="100%"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    >
    </iframe>
  </div>